div.amazing{
    width: 80%;
    height: 300px;
    background-color: #EF394E;
    margin: 0 auto;
    padding:7px;
    border-radius: 20px;
    margin-top: 10px;
}
div.amazing>div.slider-second{
    width: 100%;
    height: 280px;
    margin: 0 auto;
    background-color: #EF394E;
}
div.swiper-slider-offer>div{
    background-color: #EF394E;
}